@config "../tailwind.config.js";
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));


:root {
	/* shadcn */

	--radius: 0.625rem;
	--background: oklch(1 0 0);
	--foreground: oklch(0.145 0 0);
	--card: oklch(1 0 0);
	--card-foreground: oklch(0.145 0 0);
	--popover: oklch(1 0 0);
	--popover-foreground: oklch(0.145 0 0);
	--primary: oklch(0.205 0 0);
	--primary-foreground: oklch(0.985 0 0);
	--secondary: oklch(0.97 0 0);
	--secondary-foreground: oklch(0.205 0 0);
	--muted: oklch(0.97 0 0);
	--muted-foreground: oklch(0.556 0 0);
	--accent: oklch(0.97 0 0);
	--accent-foreground: oklch(0.205 0 0);
	--destructive: oklch(0.577 0.245 27.325);
	--border: oklch(0.922 0 0);
	--input: oklch(0.922 0 0);
	--ring: oklch(0.708 0 0);
	--chart-1: oklch(0.646 0.222 41.116);
	--chart-2: oklch(0.6 0.118 184.704);
	--chart-3: oklch(0.398 0.07 227.392);
	--chart-4: oklch(0.828 0.189 84.429);
	--chart-5: oklch(0.769 0.188 70.08);
	--sidebar: oklch(0.985 0 0);
	--sidebar-foreground: oklch(0.145 0 0);
	--sidebar-primary: oklch(0.205 0 0);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.97 0 0);
	--sidebar-accent-foreground: oklch(0.205 0 0);
	--sidebar-border: oklch(0.922 0 0);
	--sidebar-ring: oklch(0.708 0 0);

	/* custom colors */

	--color-blue-50: #ebf5ff;
	--color-blue-100: #e0f0ff;
	--color-blue-200: #ccdfff;
	--color-blue-300: #669fff;
	--color-blue-400: #337eff;
	--color-blue-500: #005fff;
	--color-blue-600: #004ccc;
	--color-blue-700: #003999;
	--color-blue-800: #002666;
	--color-blue-900: #00163d;
	--color-blue-950: #001333;

	--color-red-50: #fff5f5;
	--color-red-100: #ffe5e7;
	--color-red-200: #ff999f;
	--color-red-300: #ff666e;
	--color-red-400: #ff3742;
	--color-red-500: #ff000e;
	--color-red-600: #cc000b;
	--color-red-700: #990008;
	--color-red-800: #660006;
	--color-red-900: #330003;
	--color-red-950: #1f0002;

	--color-green-50: #f6fef9;
	--color-green-100: #e9f1ff;
	--color-green-200: #a6f2c6;
	--color-green-300: #79eca9;
	--color-green-400: #4ce68c;
	--color-green-500: #20e070;
	--color-green-600: #19b359;
	--color-green-700: #138643;
	--color-green-800: #0d592c;
	--color-green-900: #062d16;
	--color-green-950: #041b0d;

	--color-yellow-50: #fffcf5;
	--color-yellow-100: #fff8e5;
	--color-yellow-200: #fff1cc;
	--color-yellow-300: #ffe299;
	--color-yellow-400: #ffd466;
	--color-yellow-500: #ffb700;
	--color-yellow-600: #cc9200;
	--color-yellow-700: #996e00;
	--color-yellow-800: #664900;
	--color-yellow-900: #332500;
	--color-yellow-950: #1d1a11;

	--color-grey-50: #ffffff;
	--color-grey-100: #f4f4f5;
	--color-grey-200: #e9eaed;
	--color-grey-300: #dbdde1;
	--color-grey-400: #b4b7bb;
	--color-grey-500: #747881;
	--color-grey-600: #4c525c;
	--color-grey-700: #272a30;
	--color-grey-800: #1c1e22;
	--color-grey-900: #17191c;
	--color-grey-950: #080707;

	--color-white: #ffffff;
	--color-black: #000000;
	--color-transparent: transparent;

	/* Neutrals */
	--high-emphasis: var(--color-grey-950);
	--low-emphasis: var(--color-grey-500);
	--disabled: var(--color-grey-400);
	--borders: var(--color-grey-300);
	--input-bg: var(--color-grey-200);
	--reaction-bg-user: var(--color-grey-100);
	--app-bg: var(--color-white);
	--bars-bg: var(--color-white);
	--reaction-bg-you: var(--color-blue-50);
	--link-bg: var(--color-blue-100);
	--reaction-pressed-bg: var(--color-blue-300);

	/* Accents */
	--accent-primary: var(--color-blue-500);
	--accent-primary-pressed: var(--color-blue-600);
	--accent-error: var(--color-red-600);
	--accent-info: var(--color-green-500);

	/* Statics */
	--static-black: var(--color-grey-950);
	--static-white: var(--color-grey-50);
	--static-overlay: rgba(0, 0, 0, 0.6);

	/* Specials */
	--highlight: var(--color-yellow-100);
	--overlay-light: rgba(252, 252, 252, 0.9);
	--overlay: rgba(0, 0, 0, 0.2);
	--overlay-dark: rgba(0, 0, 0, 0.6);
	--overlay-android: rgba(190, 190, 190, 0.9);

    
}

.dark {
	/* Neutrals */
	--high-emphasis: var(--color-grey-50);
	--low-emphasis: var(--color-grey-500);
	--disabled: var(--color-grey-600);
	--borders: var(--color-grey-700);
	--input-bg: var(--color-grey-800);
	--reaction-bg-user: var(--color-grey-900);
	--app-bg: var(--color-grey-950);
	--bars-bg: var(--color-grey-900);
	--reaction-bg-you: var(--color-blue-950);
	--link-bg: var(--color-blue-900);
	--reaction-pressed-bg: var(--color-blue-700);

	/* Accents */
	--accent-primary: var(--color-blue-400);
	--accent-primary-pressed: var(--color-blue-600);
	--accent-error: var(--color-red-600);
	--accent-info: var(--color-green-500);

	/* Statics */
	--static-black: var(--color-grey-950);
	--static-white: var(--color-grey-50);
	--static-overlay: rgba(0, 0, 0, 0.6);

	/* Specials */
	--highlight: var(--color-yellow-900);
	--overlay-light: rgba(0, 0, 0, 0.2);
	--overlay: rgba(0, 0, 0, 0.4);
	--overlay-dark: rgba(255, 255, 255, 0.6);
	--overlay-android: rgba(10, 10, 10, 0.9);

	/* shadcn */

	--background: oklch(0.145 0 0);
	--foreground: oklch(0.985 0 0);
	--card: oklch(0.205 0 0);
	--card-foreground: oklch(0.985 0 0);
	--popover: oklch(0.205 0 0);
	--popover-foreground: oklch(0.985 0 0);
	--primary: oklch(0.922 0 0);
	--primary-foreground: oklch(0.205 0 0);
	--secondary: oklch(0.269 0 0);
	--secondary-foreground: oklch(0.985 0 0);
	--muted: oklch(0.269 0 0);
	--muted-foreground: oklch(0.708 0 0);
	--accent: oklch(0.269 0 0);
	--accent-foreground: oklch(0.985 0 0);
	--destructive: oklch(0.704 0.191 22.216);
	--border: oklch(1 0 0 / 10%);
	--input: oklch(1 0 0 / 15%);
	--ring: oklch(0.556 0 0);
	--chart-1: oklch(0.488 0.243 264.376);
	--chart-2: oklch(0.696 0.17 162.48);
	--chart-3: oklch(0.769 0.188 70.08);
	--chart-4: oklch(0.627 0.265 303.9);
	--chart-5: oklch(0.645 0.246 16.439);
	--sidebar: oklch(0.205 0 0);
	--sidebar-foreground: oklch(0.985 0 0);
	--sidebar-primary: oklch(0.488 0.243 264.376);
	--sidebar-primary-foreground: oklch(0.985 0 0);
	--sidebar-accent: oklch(0.269 0 0);
	--sidebar-accent-foreground: oklch(0.985 0 0);
	--sidebar-border: oklch(1 0 0 / 10%);
	--sidebar-ring: oklch(0.556 0 0);
}



@theme inline {
	--font-sans: var(--font-roboto);

	--color-background: var(--app-bg);
	--color-foreground: var(--high-emphasis);
	--color-sidebar-ring: var(--sidebar-ring);
	--color-sidebar-border: var(--sidebar-border);
	--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
	--color-sidebar-accent: var(--sidebar-accent);
	--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
	--color-sidebar-primary: var(--sidebar-primary);
	--color-sidebar-foreground: var(--sidebar-foreground);
	--color-sidebar: var(--sidebar);
	--color-chart-5: var(--chart-5);
	--color-chart-4: var(--chart-4);
	--color-chart-3: var(--chart-3);
	--color-chart-2: var(--chart-2);
	--color-chart-1: var(--chart-1);
	--color-ring: var(--ring);
	--color-input: var(--input);
	--color-border: var(--border);
	--color-destructive: var(--destructive);
	--color-accent-foreground: var(--accent-foreground);
	--color-accent: var(--accent);
	--color-muted-foreground: var(--muted-foreground);
	--color-muted: var(--muted);
	--color-secondary-foreground: var(--secondary-foreground);
	--color-secondary: var(--secondary);
	--color-primary-foreground: var(--primary-foreground);
	--color-primary: var(--primary);
	--color-popover-foreground: var(--popover-foreground);
	--color-popover: var(--popover);
	--color-card-foreground: var(--card-foreground);
	--color-card: var(--card);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}
}

/* Headline 4 */
.text-headline4 {
	@apply font-sans font-normal text-[34px] leading-[40px];
}

/* Headline 6 */
.text-headline6 {
	@apply font-sans font-medium text-[20px] leading-[24px];
}

/* Subtitle 1 */
.text-subtitle1 {
	@apply font-sans font-normal text-[16px] leading-[20px];
}

.text-subtitle1-italic {
	@apply font-sans italic font-normal text-[16px] leading-[20px];
}

.text-subtitle1-bold {
	@apply font-sans font-medium text-[16px] leading-[20px];
}

/* Body 2 */
.text-body2 {
	@apply font-sans font-normal text-[14px] leading-normal;
}

.text-body2-italic {
	@apply font-sans italic font-normal text-[14px] leading-normal;
}

.text-body2-bold {
	@apply font-sans font-medium text-[14px] leading-normal;
}

/* Caption */
.text-caption {
	@apply font-sans font-normal text-[12px] leading-[16px];
}





/* Effects */
.border-top {
  box-shadow: 0 -1px 0 0 #4b5563; /* grey700 */
}

.border-bottom {
  box-shadow: 0 1px 0 0 #4b5563; /* grey700 */
}

.icon-button-shadow {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.modal-shadow {
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
}

.tablet-modal-shadow {
  box-shadow: 0 0 50px 0 rgba(0, 0, 0, 1);
}

.background-blur {
  backdrop-filter: blur(10pt);
}